<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snhu.vincentdelvecchio_final_project" >
<uses-permission android:name="android.permission.SEND_SMS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VincentDelVecchio_Project_Two" >
        <activity
            android:name="com.snhu.vincentdelvecchio_final_project.LogInActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snhu.vincentdelvecchio_final_project.InventoryActivity"
            android:exported="false"
            android:label="@string/application_name"/>
        <activity
            android:name="com.snhu.vincentdelvecchio_final_project.AddEditInventoryActivity"
            android:exported="false"
            android:parentActivityName=".InventoryActivity"
            android:label=""/>
</application>

</manifest>